h1{
    text-align: center;
}

.imagenes{
    display: flex;
    padding: 10%;
    justify-content: space-around;
    box-shadow: 5px;
}

.seleccionada{
    width: 60%;
}

.oculta{
    display: none;
}

.botones{
    text-align: center;
}
.rotarDrch0{
    transform: rotate(0deg);
}

.rotarDrch1{
    transform: rotate(90deg);
}

.rotarDrch2{
    transform: rotate(180deg);
}

.rotarDrch3{
    transform: rotate(270deg);
}

.rotarIzq0{
    transform: rotate(270deg);
}

.rotarIzq1{
    transform: rotate(180deg);
}

.rotarIzq2{
    transform: rotate(90deg);
}

.rotarIzq3{
    transform: rotate(0deg);
}


