h1{
    text-align: center;
}

.imagenes{
    display: flex;
    padding: 10%;
    justify-content: space-around;
    box-shadow: 5px;
}

.seleccionada{
    width: 60%;
}

.oculta{
    display: none;
}

.botones{
    text-align: center;
}


